<ion-header>
  <ion-navbar color="green">
    <ion-title>Tips Kesehatan</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-item>
        <ion-label>Category</ion-label>
        <ion-select [(ngModel)]="categorySelected" (ionChange)="getTips()">
          <ion-option value="diet">Diet</ion-option>
          <ion-option value="kebugaran">Kebugaran</ion-option>
        </ion-select>
      </ion-item>

  <ion-list>
    <ion-item text-wrap class="item" *ngFor="let item of tips" (click)="tipsDetail(item)">
      <ion-thumbnail item-start>
        <img src="../../../assets/imgs/tipskesehatan/{{item.tips_gambar}}" class="img">
      </ion-thumbnail>
      <h3 text-wrap class="h3">{{item.tips_judul}}</h3>
      <p>{{item.tips_tanggal | date:'dd/MM/yyyy'}}</p>
    </ion-item>
  </ion-list>
</ion-content>
