<ion-tabs [color]="color">
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Article" tabIcon="paper"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Login" tabIcon="contact"></ion-tab>
</ion-tabs>
