<ion-header>
  <ion-navbar color="green" >
    <ion-title>Login</ion-title>
    <ion-buttons end>
        <button ion-button (click)="signupclick()" >
          Sign Up
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-list>

        <ion-item>
          <ion-label floating ion-text color="green">Username</ion-label>
          <ion-input type="text" [(ngModel)]="username" ></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label floating ion-text color="green">Password</ion-label>
          <ion-input type="password" [(ngModel)]="password" ></ion-input>
        </ion-item>
        
        <button ion-button full color="green" (click)="login()" >Login</button>
              
      </ion-list>
</ion-content>
