<ion-header>
  <ion-navbar color="green">
    <ion-title>Artikel Kesehatan</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-list>
    <ion-item text-wrap class="item" *ngFor="let item of artikel" (click)="artikelDetail(item)">
      <ion-thumbnail item-start>
        <img src="../../../assets/imgs/artikel/{{item.artikel_gambar}}" class="img">
      </ion-thumbnail>
      <h3 text-wrap class="h3">{{item.artikel_judul}}</h3>
      <p>{{item.artikel_tanggal | date:'dd/MM/yyyy'}}</p>
    </ion-item>
  </ion-list>

</ion-content>
