page-user-artikel-detail {

    .judul{
        text-align: justify;
        font-size: 14pt;
    }

    .tanggal{
        margin-top: -10px !important;
    }

    .isi{
        text-align: justify;
    }


}
