<ion-header>
  <ion-navbar color="green">
    <ion-title>All Comment</ion-title>
    <ion-buttons end>
        <button ion-button (click)="close()" >
          <ion-icon name="close" color="light" ></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

<ion-item *ngFor="let item of forumdiskusi_comment">
    <ion-avatar item-start>
        <img src="../../../assets/imgs/profile/{{item.diskusi_reply_foto}}">
    </ion-avatar>
    <h2 text-wrap>{{item.diskusi_reply_nama}}</h2><p text-wrap>{{item.diskusi_reply_isi}}</p>
</ion-item>

</ion-content>
<ion-footer>
  <ion-toolbar>
      <ion-item>
        <ion-input type="text" [(ngModel)]="isiComment" placeholder="Add a comment "></ion-input>
        <ion-buttons item-end class="button">
        <button ion-button (click)="comment()" >
            <ion-icon item-end color="green" name="paper-plane" ></ion-icon>
        </button>
        </ion-buttons>
      </ion-item>  
  </ion-toolbar>
</ion-footer>
