<ion-header>
  <ion-navbar color="green">
    <ion-title>Artikel Kesehatan</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2 class="judul">{{items.artikel_judul}}</h2>
  <p class="tanggal">{{items.artikel_tanggal | date:'dd/MM/yyyy'}}</p>
  <img src="../../../assets/imgs/artikel/{{items.artikel_gambar}}">
  <p class="isi">{{items.artikel_isi}}</p>

</ion-content>
