page-user-tanyadokter {

    .item-avatar  {     
        width: 60px !important;  
        height : 60px !important;  
        max-width: 100px !important;  //any size
        max-height: 100px !important; //any size 
        }
    
    .p-listDokter{
        margin-left: 10px;
        margin-top: 10px;
    }

    .icon-listDokter{
        margin-top: 10px;
        color: rgb(31, 172, 150);
    }

    .icon-listDokter2{
        margin-top: 10px;
        margin-left: 3px;
        color: rgb(31, 172, 150);
    }

    .p-seemore{
        margin-left: 10px;
    }

    .icon-arrow{
        color: rgb(31, 172, 150);
    }

    .button-request{
        margin-left: 100px;
    }

    .searchbar{
        background: #fff;
        border: 1.5px solid rgb(31, 172, 150);
    }

}
