<ion-header>
  <ion-navbar color="green">
    <ion-title>Tanya Dokter</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-searchbar placeholder="Find a doctor or a specialization" (ionInput)="getItems($event)" class="searchbar"></ion-searchbar>

  <ion-card *ngFor="let item of list_dokter; let i = index">
    <ion-item text-wrap>
      <ion-avatar item-start>
        <img src="../../../assets/imgs/img_doct/{{item.img_dokter}}" class="item-avatar">
      </ion-avatar>
      <h2>{{item.nama_dokter}}</h2>
      <p>{{item.jenis_dokter}}</p>
      <p>{{item.pengalaman}}</p>
    </ion-item>
    <ion-list *ngIf="item.open">
      <ion-item>
        <tr>
          <td>
            <ion-icon name="school" icon-start class="icon-listDokter"></ion-icon>
          </td>
          <td>
            <p class="p-listDokter" text-wrap>{{item.pend_terakhir}}</p>
          </td>
        </tr>

        <tr>
          <td>
            <ion-icon name="pin" icon-start class="icon-listDokter2"></ion-icon>
          </td>
          <td>
            <p class="p-listDokter" text-wrap>{{item.tempat_bekerja}}</p>
          </td>
        </tr>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <tr>
          <td (click)="toggleSection(i)" detail-none [ngClass]="{'section-active': item.open, 'section': !item.open}">
            <ion-icon name="arrow-forward" *ngIf="!item.open" class="icon-arrow"></ion-icon>
            <ion-icon name="arrow-down" *ngIf="item.open" class="icon-arrow"></ion-icon>
          </td>
          <td (click)="toggleSection(i)" detail-none [ngClass]="{'section-active': item.open, 'section': !item.open}">
            <p class="p-seemore" ion-text color="green" *ngIf="!item.open">Seemore</p>
            <p class="p-seemore" ion-text color="green" *ngIf="item.open">Seeless</p>
          </td>
          <ion-buttons class="button-request">
            <button ion-button small color="green" (click)="requestDoct(item)"  >Request</button>
          </ion-buttons>
        </tr>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
