<ion-header>
    <ion-navbar color="green">
      <ion-title> Change Image</ion-title>
      <ion-buttons start>
        <button ion-button (click)="close()" >
          Close
        </button>
      </ion-buttons>
      <ion-buttons end>
        <button ion-button (click)="updateImg()" >
          <ion-icon name="checkmark" color="light"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
  
      <ion-item>
          <ion-input type="file" [(ngModel)]="user_newimg"></ion-input>
        </ion-item>          
  </ion-content>
  