<ion-header>
    <ion-navbar color="green">
      <ion-title>History Post</ion-title>
      <ion-buttons start>
          <button ion-button (click)="close()" >
            Close
          </button>
        </ion-buttons>
    </ion-navbar>
  </ion-header>

  <ion-content padding>

    <ion-card *ngFor="let item of forumdiskusi" class="ion-card-diskusi">
    <ion-item>
      <ion-avatar item-start>
        <img src="../../../assets/imgs/profile/{{item.foto}}">
      </ion-avatar>
      <h3 text-wrap>{{item.nama}}</h3>
      <ion-buttons item-end class="deletebutton">
        <button ion-button small clear (click)="deletPost(item.id_diskusi)" >
            <ion-icon item-end color="green" name="close" ></ion-icon>
        </button>
        </ion-buttons>
      <p>{{item.tanggal | date:'dd/MM/yyyy'}}</p>
    </ion-item>
    <ion-card-content>
      <p>{{item.diskusi}}</p>
    </ion-card-content>
    <ion-list>
      <button ion-button small clear full color="green" (click)="viewComment(item)" >View All Comment</button>
    </ion-list>
  </ion-card>

  </ion-content>